/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

.navbar{
  margin-bottom: 0px!important;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  //display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
   overflow-y: auto;  /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.sidebar{
  overflow: hidden;
}
.sidebar #searchField{
  height: 5vh;
}
.sidebar ul{
  display: block;
  height: 95vh;
  overflow: auto!important;
}
.sidebar ul li{
  cursor: pointer;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}

@media screen and (max-width: 900px) {
  #content{
    margin-top: 60px!important;
  }
  #sidebarContent{
    margin-top: 60px!important;
  }
}

@media screen and (max-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
  #content{
    margin-top: 30px!important;
  }
  #sidebarContent{
    margin-top: 0px!important;
  }
  .sidebar ul{
      height: 30vh;
      background: #f5f5f5;
  }
  .sidebar ul li{
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
}

@media screen and (max-width: 470px) {
  #content{
    margin-top: 30px!important;
  }
  #sidebarContent{
    margin-top: 30px!important;
  }
}

.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}