<!DOCTYPE html>
<html ng-app="SensorApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="pictures/favicon.ico"/>
    <title>HAN ICA - omgevingfactoren van studieruimtes</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this project -->
    <link href="css/project_studieruimtes.css" rel="stylesheet">

</head>

<body ng-controller="AreaCtrl">
<div ng-controller="LocationCtrl">
    <!-- start of navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">HAN ICA - omgevingfactoren van studieruimtes :)</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li ng-repeat="loc in location_list" ng-class="{true: 'active'}[selected_location == loc]">
                        <a ng-click="select_location(loc);">{{loc.Name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- end of navbar -->
    <div class="container-fluid">
        <div class="row" id="content">
            <div class="col-sm-3 col-md-2 sidebar">
                <div id="sidebarContent">
                    <div id="searchField">
                        <input type="text" ng-model="query" class="form-control" id="searchRooms" placeholder="Zoek">
                    </div>
                    <ul class="nav nav-sidebar">
                        <li ng-repeat="area in list | filter: {name:query,at_location:selected_location.location}"
                            ng-class="{true: 'active'}[selected == area]">
                            <a ng-click="selectArea(area);"> {{area.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div ng-hide="selected != null" ng-controller="BarCtrl"
                 class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header"><-- Selecteer een lokaal om de omgevingfactoren te zien!</h1>

            </div>
            <div ng-hide="selected == null" ng-controller="LineCtrl"
                 class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">Overzicht van omgevingfactoren van {{selected.name}} in
                    {{selected.at_location}}</h1>

                <div>
                    <h2> Beschrijving </h2>
                    {{selected.description}}
                    <h2> Huidige temperatuur </h2>
                    In {{selected.name}} is het op dit moment {{selected.temperature}} graden celcius
                    <div class="col-md-8 col-md-offset-2" ng-show="(temp_data | filter: selected.name).length > 0">
                        <canvas id="line" class="chart chart-line "
                                chart-data="(temp_data | filter: selected.name)[0].temps"
                                chart-labels="labels" chart-legend="true" chart-series="series"
                                chart-click="onClick">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="bower_components/Chart.js/Chart.js"></script>
<script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
<script src="js/main.js"></script>

<link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">
</body>
</html>
